@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  background: #edf2f4 !important;
  padding: 45px 40px;
  font-family: "Aleo", serif;
  margin-top: 0;
}

img {
  width: 50px;
}
nav {
  background-color: #edf2f4;
  position: relative;
}
.userLog {
  width: 150px;
  display: inline-block;
  position: absolute;
  right: 0;
}
#currentRestaurant {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
ul {
  list-style: none;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
li {
  display: inline;
  margin: 0 10px;
}
a {
  text-decoration: none;
}
.navBtn {
  text-decoration: none;
  color: #2b2d42;
}

.navBtn:hover {
  color: #ef233c;
  font-family: "Abel", sans-serif;
}
.btn-accent {
  background-color: #ef233c;
  padding: 18px 35px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}

.container {
  margin: 80px 0 0px 80px;
}
#qr {
  width: 500px;
}
.right-column {
  width: 500px;
  float: right;
  margin-right: 65px;
}
h2 {
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  font-size: 50px;
}
h4 {
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  margin: 0;
}
p {
  color: #ef233c;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
input {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #f5f7f8;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.input-tables {
  display: inline-block;
  margin: 40px 30px 0 0;
}
.right-column a {
  position: absolute;
  bottom: 15%;
}
