@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  background: #edf2f4 !important;
  padding: 0px 135px;
  font-family: "Aleo", serif;
  /* margin-top: 0; */
  margin: 0;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* position: relative; */
  padding-top: 37px;
  background-color: #edf2f4;
  z-index: 100;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.055);
  border-radius: 20px 20px;
}
.container {
  padding-top: 105px;
}
.burger {
  display: none;
  position: absolute;
  right: 10%;
  bottom: 30%;
  transform: translateY(30%);
  height: 36px;
  width: 50px;
}
.burger div {
  width: 50px;
  height: 7px;
  background-color: #c4c4c4;
  margin: 5px;
  border-radius: 5px;
}
.burger .line3 {
  width: 40px;
  position: absolute;
  top: 24px;
  left: 10px;
}
.userLog {
  position: absolute;
  right: 10.5%;
  top: 60%;
}
.navbar-logo {
  width: 20%;
  height: auto;
  margin: 0;
  padding-left: 135px;
}
.mobile-nav {
  display: none;
  width: 50%;
  position: absolute;
  right: 0;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  padding-top: 16vh;
  transition: transform 0.5s ease-in;
}
.mobile-nav a {
  display: block;
  color: white;
  font-size: 24px;
  margin: 20px 0;
}
.mobile-nav .btn-accent {
  width: 50%;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.nav .navbar-brand {
  background-color: #ef233c !important;
}
.nav .btn-accent {
  background-color: #ef233c;
  color: #edf2f4;
}
h1 {
  color: #2b2d42;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
h2 {
  color: #2b2d42;
  font-size: 30px;
  margin-bottom: 16px;
  text-align: center;
}
ul {
  position: absolute;
  bottom: 10%;
  font-weight: 700;
  list-style: none;
  display: inline-block;
  margin-left: 5%;
}
li {
  display: inline;
  margin: 0 10px;
}
a {
  text-decoration: none;
}
.navBtn {
  text-decoration: none;
  color: #2b2d42;
}
.navBtn:hover {
  color: #ef233c;
  font-family: "Abel", sans-serif;
}
#loginBtn {
  text-decoration: none;
  font-weight: 700;
  color: #2b2d42;
  padding-right: 15px;
}
.btn-accent {
  background-color: #ef233c;
  padding: 18px 35px;
  border-radius: 10px;
  font-weight: 700;
  color: white
}
.navBtnActive {
  color: #ef233c !important;
  font-family: "Abel", sans-serif;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.right-float {
  margin: 50px 20px 80px 20px;
}
.right-float img {
  float: right;
  margin-left: 50px;
  margin-bottom: 10px;
}
.left-float {
  margin: 50px 20px 80px 20px;
  text-align: right;
}
.left-float img {
  float: left;
  margin-right: 50px;
}
.container img {
  width: 500px;
  border-radius: 30px;
  height: auto;
}
p {
  color: #2b2d42;
  font-size: 1.7rem;
  line-height: 40px;
}

#contract {
  margin-left: 40%;
  padding: 1.5rem 5rem;
  font-size: 1.5rem;
}

footer img {
  width: 130px;
  margin: 0;
  margin-bottom: -7px;
  padding-top: 100px;
}

.mobile-nav-show {
  display: inline;
}

@media only screen and (min-width: 1600px){
  body {
    zoom: 120%;
  }
}
@media only screen and (max-width: 1300px) {
  nav ul {
    display: none;
  }
  nav .userLog {
    display: none;
  }
  .burger {
    display: inline;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1130px) {
  .left-float img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
  .left-float p {
    padding-bottom: 0;
    text-align: center;
    margin: 0;
  }
  .right-float img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
  .right-float p {
    padding-bottom: 0;
    text-align: center;
    margin: 0;
  }
  body {
    padding: 0px 120px;
  }
  #contract {
    margin-left: 30%;
  }
}
@media only screen and (max-width: 860px) {
  .navbar-logo {
    width: 30%;
    padding-left: 70px;
  }
  .right-float img {
    width: 100%;
  }
  .left-float img {
    width: 100%;
  }
  body {
    padding: 0px 50px;
  }
  #contract {
    margin-left: 20%;
    padding: 1.2rem 4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 485px){
	#contract {
    margin-left: 10%;
    padding: 7% 12%;
    font-size: 112%;
  }
}
